#table-user {
  table-layout: fixed; width: 100%;
  th {
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
  }
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

#table-users {
  td {
    vertical-align: middle;
  }
}